/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.scribe/.filehashes
.scribe/.filehashes
.scribe/intro.md
.scribe/endpoints/00.yaml
public/docs/collection.json
public/docs/index.html
public/docs/openapi.yaml
